apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: {app_name}-ingress-route
spec:
  entryPoints:
    - {entrypoint}
  routes:
    {{ for route in routes }}
    - kind: Rule
      match: Host(`{route.route_host_match}`)
      services:
        {{ for service in route.services }}
        - name: {app_name}-service
          port: {service.svc_port}
        {{ endfor }}
    {{ endfor }}
  {{ if tls }}
  tls:
    secretName: {tls_secret_name}
  {{ endif }}
