apiVersion: v1
kind: PersistentVolume
metadata:
  name: {app_name}-volume
  labels:
    name: {app_name}-volume
spec:
  accessModes:
    - ReadWriteOnce
  capacity:
    storage: {storage_capacity}
  storageClassName: {storage_class_name}
